/* src/components/Card.css */

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 5px;
  padding-bottom: 15px;
  border-radius: 5px;

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-content{
  display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
  }
.container {
  margin: 5px;
  padding: 2px 16px;
}
.text-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.text-bold {
  font-size: 15px;
  font-weight: 700;
  margin-right: 4px;
}

.text-normal {
  font-size: 15px;
  color: #333;
}

.link {
  font-size: 16px;
  color: blue;
  text-decoration: underline;
}
